#titulo{
    font-size: 2.2rem;
    color: #efefef;
    text-decoration: none;
}
#titulo:hover{
    color: #aaa;
    transition-duration: 1s;
}


.listaSubtitulos{
    list-style-type: none;
    padding-left: 0;
}

.subtitulos{
    color: #999;
    text-decoration: none;
}

.subtitulos:hover{
    color: #000;
    text-decoration: none;
    transition-duration: 1s;
}

.carousel-item{
    height: 32rem;
}

.ByN{
    filter: grayscale(100%);
    transition-duration: 1s;
}
.ByN:hover{
    filter: none;
    transition-duration: 1s;
}

.iconos{
    width:5%;
    height:5%;
}